In [3]:
import pandas as pd
import numpy as np

In [4]:
target_unrate = pd.read_csv("UNRATE.csv")
target_unrate

FileNotFoundError: [Errno 2] No such file or directory: 'UNRATE.csv'

In [4]:
reccession_prob = pd.read_csv("RECPROUSM156N.csv")
reccession_prob

           DATE  RECPROUSM156N
0    1967-06-01           1.04
1    1967-07-01           0.52
2    1967-08-01           0.04
3    1967-09-01           0.26
4    1967-10-01           0.08
..          ...            ...
645  2021-03-01           0.00
646  2021-04-01           1.42
647  2021-05-01           0.32
648  2021-06-01           0.12
649  2021-07-01           0.10

[650 rows x 2 columns]

In [5]:
cpi = pd.read_csv("CPIAUCSL.csv")
cpi

           DATE  CPIAUCSL
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
890  2021-03-01   264.793
891  2021-04-01   266.832
892  2021-05-01   268.551
893  2021-06-01   270.981
894  2021-07-01   272.265

[895 rows x 2 columns]

In [6]:
gdp = pd.read_csv("GDPC1.csv")
gdp

           DATE      GDPC1
0    1947-01-01   2034.450
1    1947-04-01   2029.024
2    1947-07-01   2024.834
3    1947-10-01   2056.508
4    1948-01-01   2087.442
..          ...        ...
293  2020-04-01  17258.205
294  2020-07-01  18560.774
295  2020-10-01  18767.778
296  2021-01-01  19055.655
297  2021-04-01  19360.600

[298 rows x 2 columns]

In [7]:
data = pd.merge(target_unrate, reccession_prob, how="outer")
data = pd.merge(data, cpi, how="outer")
data = pd.merge(data, gdp, how="outer")
data

           DATE  UNRATE  RECPROUSM156N  CPIAUCSL     GDPC1
0    1948-01-01     3.4            NaN     23.68  2087.442
1    1948-02-01     3.8            NaN     23.67       NaN
2    1948-03-01     4.0            NaN     23.50       NaN
3    1948-04-01     3.9            NaN     23.82  2121.899
4    1948-05-01     3.5            NaN     24.01       NaN
..          ...     ...            ...       ...       ...
890  1947-08-01     NaN            NaN     22.40       NaN
891  1947-09-01     NaN            NaN     22.84       NaN
892  1947-10-01     NaN            NaN     22.91  2056.508
893  1947-11-01     NaN            NaN     23.06       NaN
894  1947-12-01     NaN            NaN     23.41       NaN

[895 rows x 5 columns]

In [8]:
data.isnull().sum()

DATE               0
UNRATE            12
RECPROUSM156N    245
CPIAUCSL           0
GDPC1            597
dtype: int64

In [9]:
data = data[["UNRATE", 'GDPC1','CPIAUCSL', 'RECPROUSM156N']]

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle

In [11]:
lm = LinearRegression()

In [12]:
data1 = data[["UNRATE", 'GDPC1']].dropna()
data1 = shuffle(data1)
x1 = data1[['GDPC1']]
y1 = data1['UNRATE']

In [13]:
np.mean(cross_val_score(lm, x1, y1, cv=3))

0.020581061970455578

In [14]:
data2 = data[["UNRATE", 'CPIAUCSL']].dropna()
data2 = shuffle(data2)
x2 = data2[['CPIAUCSL']]
y2 = data2['UNRATE']

In [15]:
np.mean(cross_val_score(lm, x2, y2, cv=3))

0.039688358642964196

In [16]:
data3 = data[["UNRATE", 'RECPROUSM156N']].dropna()
data3 = shuffle(data3)
x3 = data3[['RECPROUSM156N']]
y3 = data3['UNRATE']

In [17]:
np.mean(cross_val_score(lm, x3, y3, cv=3))

0.02156370494733843

In [18]:
data4 = data[["UNRATE", 'GDPC1', 'CPIAUCSL']].dropna()
data4 = shuffle(data4)
x4 = data4[['GDPC1', 'CPIAUCSL']]
y4 = data4['UNRATE']

In [19]:
np.mean(cross_val_score(lm, x4, y4, cv=3))

0.10323791083751528

In [20]:
data5 = data[["UNRATE", 'GDPC1', 'RECPROUSM156N']].dropna()
data5 = shuffle(data5)
x5 = data5[['GDPC1', 'RECPROUSM156N']]
y5 = data5['UNRATE']

In [21]:
np.mean(cross_val_score(lm, x5, y5, cv=3))

0.0025847981722199043

In [22]:
data6 = data[["UNRATE", 'CPIAUCSL', 'RECPROUSM156N']].dropna()
data6 = shuffle(data6)
x6 = data6[['CPIAUCSL', 'RECPROUSM156N']]
y6 = data6['UNRATE']

In [23]:
np.mean(cross_val_score(lm, x6, y6, cv=3))

0.027037297377562924

In [24]:
data7 = data[["UNRATE", 'GDPC1','CPIAUCSL', 'RECPROUSM156N']].dropna()
data7 = shuffle(data7)
x7 = data7[['GDPC1','CPIAUCSL', 'RECPROUSM156N']]
y7 = data7['UNRATE']

# DETERMINISTIC LINEAR REGRESSION 
Explains on average 25% of unemployment rate variance

In [27]:
np.mean(cross_val_score(lm, x7, y7, cv=3))

0.25631760838724543

# Nonlinear Stochastic Random Forest Regression 
Explains on average 85% of unemployment rate variance

In [29]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(random_state=1)
np.mean(cross_val_score(rfr, x7, x7, cv=3))

0.8498154982899719

In [30]:
dates = target_unrate.iloc[data7.index,:].copy()
dates["DATE"] = pd.to_datetime(dates["DATE"])
dates = dates.sort_values(by="DATE")

# Date range Jan 1967 - Apr 2021

In [31]:
dates

          DATE  UNRATE
234 1967-07-01     3.8
237 1967-10-01     4.0
240 1968-01-01     3.7
243 1968-04-01     3.5
246 1968-07-01     3.7
..         ...     ...
867 2020-04-01    14.8
870 2020-07-01    10.2
873 2020-10-01     6.9
876 2021-01-01     6.3
879 2021-04-01     6.1

[216 rows x 2 columns]